body
{ 
background:#FFF; 
}
.clearfix:after {
    display:block;
    clear:both;
}
/* main menu bar */

#menubar
{
	position:absolute;
	margin:1px;
	top:0px;
        left:0px;
	width:1360px;
	height:55px;
        z-index: 100; 
        background:#000000;       
}


#menubar1
{
	position:absolute;
	margin:1px;
	top: 0px;
        left:0px;
	width:1360px;
	height:6px;
        z-index: 100; 
        background:#FF0000;       
}

#navMenu ul
{	
	margin:0px;
	padding:0px;
	line-height:55px;
}

#navMenu li
{
	margin:0px;
	/*padding:0;*/
        list-style:none;
	float:left;
	position:relative;
	background:#000000;
	left:700px;
}

#navMenu ul li a
{
	text-align:center;
	font-family:"arial narrow";
	text-decoration:none;
        font-size:23px;
        height:35px;
	width:265px;
       	/*display:block;*/
        /*display:inline;*/
	color:#fff;
	/*border:1px solid #FFF;
	text-shadow:1px 1px 1px #000;*/

}
#navMenu ul li 
{
	text-align:center;
	font-family:"Comic sans MS",cursive;
	text-decoration:none;
        font-size:20px; 
	height:55px;
	width:auto;
       	display:block;
        /*display:inline;*/
	color:#000;
	border:0px solid #FFF;
	text-shadow:1px 1px 1px #000;

}
#navMenu ul ul 
{
        position:absolute;
        visibility:hidden;
	top:40px;
        z-index:100;
        
}

#navMenu ul li:hover ul 
{
	visibility:visible;
}
#navMenu ul li:hover ul ul
{
	visibility:hidden;
}

#navMenu ul li:hover ul li:hover ul
{
	visibility:visible;
}


#navMenu ul li:hover ul li a:hover
{
	/*background:#8FF;*/
        background:#000;
	color:#000;
-webkit-transition: color 0.2s ease-out;
 -moz-transition: color 0.2s ease-out;
 -o-transition: color 0.2s ease-out;
 -ms-transition: color 0.2s ease-out;
 transition: color 0.2s ease-out;
}
#navMenu a:hover
{
	color:#f00;
}

#split {
    height: 100%;
    width: 20%;
    position: fixed;
    z-index: 100;
    top: 58px;
    left: 0;
    background-color: #f00;
}


.splitimg {
    position: absolute;
    top: 100px;
    left: 150px;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    width: 152px;
    height:137px;
}

.mainimg{
    position: absolute;
    top: 100px;
    left: 950px;
    width: 228px;
    height:200px;
border-radius:25%;
}

#cvdownload{
        position:absolute;
	padding-top: 5px;
	font-family:"Times New Roman Georgia";
	width:150px;
	height:30px;
        font-size:20px;
        color : white;
        text-align:center;
        background-color:black; 
        text-shadow: 2px 2px 4px #999999;   
        top: 310px;
       left: 985px;
       border-radius: 12px;
   }



.proj1{
    position: absolute;
    top: 430px;
    left: 620px;
   font-size:14px;
   text-decoration: none;
  }
.proj2{
    position: absolute;
    top: 550px;
    left: 530px;
   font-size:14px;
   text-decoration: none;
  }
.proj3{
    position: absolute;
    top: 510px;
    left: 340px;
   font-size:14px;
   text-decoration: none;
  }
.GitHub1{
    position: absolute;
    top: 385px;
    left: 910px;
    width: 30px;
    height:30px;
border-radius:25%;
}

.GitHub2{
    position: absolute;
    top: 390px;
    left: 955px;
   font-size:16px;
   text-decoration: none;
  }
.LinkedIn-Logo-R1{
    position: absolute;
    top: 425px;
    left: 915px;
    width: 20px;
    height:20px;
border-radius:25%;
}

.LinkedIn-Logo-R2{
    position: absolute;
    top: 425px;
    left: 955px;
   font-size:16px;
   text-decoration: none;
  }

.email-hd-png-hd-painting-5121{
    position: absolute;
    top: 460px;
    left: 913px;
    width: 25px;
    height:25px;
border-radius:25%;
}

.email-hd-png-hd-painting-5122{
    position: absolute;
    top: 460px;
    left: 955px;
   font-size:16px;
   text-decoration: none;
  }

 #spoorthy1{
        position:absolute;
	font-family:"Arial Narrow";
        font-weight: bold;
	font-size:40px;
        color : black;
        top: 140px;
       left: 400px;
	width: 450px;
      }

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
        #spoorthy1 {width: 107px;left:100px;}
        #menubar {width: 480px;}
        #menubar1 {width: 480px;}
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
        #spoorthy1 {width: 256px;left:240px;}
        #menubar {width: 1024px;}
        #menubar1 {width: 1024px;}
}


 #spoorthy2{
        position:absolute;
	font-family:"Arial";
        font-weight: italics;
	font-size:20px;
        color : black;
        top: 190px;
       left: 410px;
	width: 450px;
      }

#spoorthy3{
        position:absolute;
	font-family:"Goudy Old Style";
        font-weight: italics;
	font-size:18px;
        color : black;
        top: 250px;
        left: 350px;
	width: 450px;
      }
#spoorthy4{
        position:absolute;
	font-family:"Goudy Old Style";
        font-weight: italics;
	font-size:18px;
        color : black;
        top: 350px;
       left: 350px;
	right: 570px;
	width: 450px;        
      }

 
background:#FFF; 
}
.clearfix:after {
    display:block;
    clear:both;
}
/* main menu bar */

#menubar
{
	position:absolute;
	margin:1px;
	top:0px;
        left:0px;
	width:1360px;
	height:55px;
        z-index: 100; 
        background:#000000;       
}


#menubar1
{
	position:absolute;
	margin:1px;
	top: 0px;
        left:0px;
	width:1360px;
	height:6px;
        z-index: 100; 
        background:#FF0000;       
}

#navMenu ul
{	
	margin:0px;
	padding:0px;
	line-height:55px;
}

#navMenu li
{
	margin:0px;
	/*padding:0;*/
        list-style:none;
	float:left;
	position:relative;
	background:#000000;
	left:700px;
}

#navMenu ul li a
{
	text-align:center;
	font-family:"arial narrow";
	text-decoration:none;
        font-size:23px;
        height:35px;
	width:265px;
       	/*display:block;*/
        /*display:inline;*/
	color:#fff;
	/*border:1px solid #FFF;
	text-shadow:1px 1px 1px #000;*/

}
#navMenu ul li 
{
	text-align:center;
	font-family:"Comic sans MS",cursive;
	text-decoration:none;
        font-size:20px; 
	height:55px;
	width:auto;
       	display:block;
        /*display:inline;*/
	color:#000;
	border:0px solid #FFF;
	text-shadow:1px 1px 1px #000;

}
#navMenu ul ul 
{
        position:absolute;
        visibility:hidden;
	top:40px;
        z-index:100;
        
}

#navMenu ul li:hover ul 
{
	visibility:visible;
}
#navMenu ul li:hover ul ul
{
	visibility:hidden;
}

#navMenu ul li:hover ul li:hover ul
{
	visibility:visible;
}


#navMenu ul li:hover ul li a:hover
{
	/*background:#8FF;*/
        background:#000;
	color:#000;
-webkit-transition: color 0.2s ease-out;
 -moz-transition: color 0.2s ease-out;
 -o-transition: color 0.2s ease-out;
 -ms-transition: color 0.2s ease-out;
 transition: color 0.2s ease-out;
}
#navMenu a:hover
{
	color:#f00;
}

#split {
    height: 100%;
    width: 20%;
    position: fixed;
    z-index: 100;
    top: 58px;
    left: 0;
    background-color: #f00;
}


.splitimg {
    position: absolute;
    top: 100px;
    left: 150px;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    width: 152px;
    height:137px;
}

.mainimg{
    position: absolute;
    top: 100px;
    left: 950px;
    width: 228px;
    height:200px;
border-radius:25%;
}

#cvdownload{
        position:absolute;
	padding-top: 5px;
	font-family:"Times New Roman Georgia";
	width:150px;
	height:30px;
        font-size:20px;
        color : white;
        text-align:center;
        background-color:black; 
        text-shadow: 2px 2px 4px #999999;   
        top: 310px;
       left: 985px;
       border-radius: 12px;
   }



.proj1{
    position: absolute;
    top: 430px;
    left: 620px;
   font-size:14px;
   text-decoration: none;
  }
.proj2{
    position: absolute;
    top: 550px;
    left: 530px;
   font-size:14px;
   text-decoration: none;
  }
.proj3{
    position: absolute;
    top: 510px;
    left: 340px;
   font-size:14px;
   text-decoration: none;
  }
.GitHub1{
    position: absolute;
    top: 385px;
    left: 910px;
    width: 30px;
    height:30px;
border-radius:25%;
}

.GitHub2{
    position: absolute;
    top: 390px;
    left: 955px;
   font-size:16px;
   text-decoration: none;
  }
.LinkedIn-Logo-R1{
    position: absolute;
    top: 425px;
    left: 915px;
    width: 20px;
    height:20px;
border-radius:25%;
}

.LinkedIn-Logo-R2{
    position: absolute;
    top: 425px;
    left: 955px;
   font-size:16px;
   text-decoration: none;
  }

.email-hd-png-hd-painting-5121{
    position: absolute;
    top: 460px;
    left: 913px;
    width: 25px;
    height:25px;
border-radius:25%;
}

.email-hd-png-hd-painting-5122{
    position: absolute;
    top: 460px;
    left: 955px;
   font-size:16px;
   text-decoration: none;
  }

 #spoorthy1{
        position:absolute;
	font-family:"Arial Narrow";
        font-weight: bold;
	font-size:40px;
        color : black;
        top: 140px;
       left: 400px;
	width: 450px;
      }

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
        #spoorthy1 {width: 107px;left:100px;}
        #menubar {width: 480px;}
        #menubar1 {width: 480px;}
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
        #spoorthy1 {width: 256px;left:240px;}
        #menubar {width: 1024px;}
        #menubar1 {width: 1024px;}
}


 #spoorthy2{
        position:absolute;
	font-family:"Arial";
        font-weight: italics;
	font-size:20px;
        color : black;
        top: 190px;
       left: 410px;
	width: 450px;
      }

#spoorthy3{
        position:absolute;
	font-family:"Goudy Old Style";
        font-weight: italics;
	font-size:18px;
        color : black;
        top: 250px;
        left: 350px;
	width: 450px;
      }
#spoorthy4{
        position:absolute;
	font-family:"Goudy Old Style";
        font-weight: italics;
	font-size:18px;
        color : black;
        top: 350px;
       left: 350px;
	right: 570px;
	width: 450px;        
      }


.clearfix:after {
    display:block;
    clear:both;
}
/* main menu bar */


#menubar
{
	position:absolute;
	margin:1px;
	top:0px;
        left:0px;
	width:100%;
	height:55px;
        z-index: 100; 
        background:#000000;       
}


#menubar1
{
	position:absolute;
	margin:1px;
	top: 52px;
        left:0px;
	width:100%;
	height:6px;
        z-index: 100; 
        background:#FF0000;       
}

#navMenu ul
{
	
	margin:0px;
	padding:0px;
	line-height:55px;
        
}
#navMenu li
{
	margin:0px;
	/*padding:0;*/
        list-style:none;body
{ 
background:#FFF; 
}
.clearfix:after {
    display:block;
    clear:both;
}
/* main menu bar */

#menubar
{
	position:absolute;
	margin:1px;
	top:0px;
        left:0px;
	width:1360px;
	height:55px;
        z-index: 100; 
        background:#000000;       
}


#menubar1
{
	position:absolute;
	margin:1px;
	top: 0px;
        left:0px;
	width:1360px;
	height:6px;
        z-index: 100; 
        background:#FF0000;       
}

#navMenu ul
{	
	margin:0px;
	padding:0px;
	line-height:55px;
}

#navMenu li
{
	margin:0px;
	/*padding:0;*/
        list-style:none;
	float:left;
	position:relative;
	background:#000000;
	left:700px;
}

#navMenu ul li a
{
	text-align:center;
	font-family:"arial narrow";
	text-decoration:none;
        font-size:23px;
        height:35px;
	width:265px;
       	/*display:block;*/
        /*display:inline;*/
	color:#fff;
	/*border:1px solid #FFF;
	text-shadow:1px 1px 1px #000;*/

}
#navMenu ul li 
{
	text-align:center;
	font-family:"Comic sans MS",cursive;
	text-decoration:none;
        font-size:20px; 
	height:55px;
	width:auto;
       	display:block;
        /*display:inline;*/
	color:#000;
	border:0px solid #FFF;
	text-shadow:1px 1px 1px #000;

}
#navMenu ul ul 
{
        position:absolute;
        visibility:hidden;
	top:40px;
        z-index:100;
        
}

#navMenu ul li:hover ul 
{
	visibility:visible;
}
#navMenu ul li:hover ul ul
{
	visibility:hidden;
}

#navMenu ul li:hover ul li:hover ul
{
	visibility:visible;
}


#navMenu ul li:hover ul li a:hover
{
	/*background:#8FF;*/
        background:#000;
	color:#000;
-webkit-transition: color 0.2s ease-out;
 -moz-transition: color 0.2s ease-out;
 -o-transition: color 0.2s ease-out;
 -ms-transition: color 0.2s ease-out;
 transition: color 0.2s ease-out;
}
#navMenu a:hover
{
	color:#f00;
}

#split {
    height: 100%;
    width: 20%;
    position: fixed;
    z-index: 100;
    top: 58px;
    left: 0;
    background-color: #f00;
}


.splitimg {
    position: absolute;
    top: 100px;
    left: 150px;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    width: 152px;
    height:137px;
}

.mainimg{
    position: absolute;
    top: 100px;
    left: 950px;
    width: 228px;
    height:200px;
border-radius:25%;
}

#cvdownload{
        position:absolute;
	padding-top: 5px;
	font-family:"Times New Roman Georgia";
	width:150px;
	height:30px;
        font-size:20px;
        color : white;
        text-align:center;
        background-color:black; 
        text-shadow: 2px 2px 4px #999999;   
        top: 310px;
       left: 985px;
       border-radius: 12px;
   }



.proj1{
    position: absolute;
    top: 430px;
    left: 620px;
   font-size:14px;
   text-decoration: none;
  }
.proj2{
    position: absolute;
    top: 550px;
    left: 530px;
   font-size:14px;
   text-decoration: none;
  }
.proj3{
    position: absolute;
    top: 510px;
    left: 340px;
   font-size:14px;
   text-decoration: none;
  }
.GitHub1{
    position: absolute;
    top: 385px;
    left: 910px;
    width: 30px;
    height:30px;
border-radius:25%;
}

.GitHub2{
    position: absolute;
    top: 390px;
    left: 955px;
   font-size:16px;
   text-decoration: none;
  }
.LinkedIn-Logo-R1{
    position: absolute;
    top: 425px;
    left: 915px;
    width: 20px;
    height:20px;
border-radius:25%;
}

.LinkedIn-Logo-R2{
    position: absolute;
    top: 425px;
    left: 955px;
   font-size:16px;
   text-decoration: none;
  }

.email-hd-png-hd-painting-5121{
    position: absolute;
    top: 460px;
    left: 913px;
    width: 25px;
    height:25px;
border-radius:25%;
}

.email-hd-png-hd-painting-5122{
    position: absolute;
    top: 460px;
    left: 955px;
   font-size:16px;
   text-decoration: none;
  }

 #spoorthy1{
        position:absolute;
	font-family:"Arial Narrow";
        font-weight: bold;
	font-size:40px;
        color : black;
        top: 140px;
       left: 400px;
	width: 450px;
      }

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
        #spoorthy1 {width: 107px;left:100px;}
        #menubar {width: 480px;}
        #menubar1 {width: 480px;}
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
        #spoorthy1 {width: 300px;left:200px;}
        
}


 #spoorthy2{
        position:absolute;
	font-family:"Arial";
        font-weight: italics;
	font-size:20px;
        color : black;
        top: 190px;
       left: 410px;
	width: 450px;
      }

#spoorthy3{
        position:absolute;
	font-family:"Goudy Old Style";
        font-weight: italics;
	font-size:18px;
        color : black;
        top: 250px;
        left: 350px;
	width: 450px;
      }
#spoorthy4{
        position:absolute;
	font-family:"Goudy Old Style";
        font-weight: italics;
	font-size:18px;
        color : black;
        top: 350px;
       left: 350px;
	right: 570px;
	width: 450px;        
      }


	float:left;
	position:relative;
	background:#000000;
	left:55%;
}

#navMenu ul li a
{
	text-align:center;
	font-family:"arial narrow";
	text-decoration:none;
        font-size:23px;
        height:35px;
	width:265px;
       	/*display:block;*/
        /*display:inline;*/
	color:#fff;
	/*border:1px solid #FFF;
	text-shadow:1px 1px 1px #000;*/

}
#navMenu ul li 
{
	text-align:center;
	font-family:"Comic sans MS",cursive;
	text-decoration:none;
        font-size:20px; 
	height:55px;
	width:auto;
       	display:block;
        /*display:inline;*/
	color:#000;
	border:0px solid #FFF;
	text-shadow:1px 1px 1px #000;

}
#navMenu ul ul 
{
        position:absolute;
        visibility:hidden;
	top:40px;
        z-index:100;
        
}

#navMenu ul li:hover ul 
{
	visibility:visible;
}
#navMenu ul li:hover ul ul
{
	visibility:hidden;
}

#navMenu ul li:hover ul li:hover ul
{
	visibility:visible;
}


#navMenu ul li:hover ul li a:hover
{
	/*background:#8FF;*/
        background:#000;
	color:#000;
-webkit-transition: color 0.2s ease-out;
 -moz-transition: color 0.2s ease-out;
 -o-transition: color 0.2s ease-out;
 -ms-transition: color 0.2s ease-out;
 transition: color 0.2s ease-out;
}
#navMenu a:hover
{
	color:#f00;
}

#split {
    height: 100%;
    width: 20%;
    position: fixed;
    z-index: 100;
    top: 58px;
    left: 0;
    background-color: #f00;
}


.splitimg {
    position: absolute;
    top: 100px;
    left: 150px;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    width: 152px;
    height:137px;
}

.mainimg{
    position: absolute;
    top: 100px;
    left: 950px;
    width: 228px;
    height:200px;
border-radius:25%;
}

#cvdownload{
        position:absolute;
	padding-top: 5px;
	font-family:"Times New Roman Georgia";
	width:150px;
	height:30px;
        font-size:20px;
        color : white;
        text-align:center;
        background-color:black; 
        text-shadow: 2px 2px 4px #999999;   
        top: 310px;
       left: 985px;
       border-radius: 12px;
   }



.proj1{
    position: absolute;
    top: 430px;
    left: 620px;
   font-size:14px;
   text-decoration: none;
  }
.proj2{
    position: absolute;
    top: 550px;
    left: 530px;
   font-size:14px;
   text-decoration: none;
  }
.proj3{
    position: absolute;
    top: 510px;
    left: 340px;
   font-size:14px;
   text-decoration: none;
  }
.GitHub1{
    position: absolute;
    top: 385px;
    left: 910px;
    width: 30px;
    height:30px;
border-radius:25%;
}

.GitHub2{
    position: absolute;
    top: 390px;
    left: 955px;
   font-size:16px;
   text-decoration: none;
  }
.LinkedIn-Logo-R1{
    position: absolute;
    top: 425px;
    left: 915px;
    width: 20px;
    height:20px;
border-radius:25%;
}

.LinkedIn-Logo-R2{
    position: absolute;
    top: 425px;
    left: 955px;
   font-size:16px;
   text-decoration: none;
  }

.email-hd-png-hd-painting-5121{
    position: absolute;
    top: 460px;
    left: 913px;
    width: 25px;
    height:25px;
border-radius:25%;
}

.email-hd-png-hd-painting-5122{
    position: absolute;
    top: 460px;
    left: 955px;
   font-size:16px;
   text-decoration: none;
  }

 #spoorthy1{
        position:absolute;
	font-family:"Arial Narrow";
        font-weight: bold;
	font-size:40px;
        color : black;
        top: 140px;
       left: 400px;
       width: 450px;
      }
/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
        #spoorthy1 {width: 107px;left:100px;}
        #menubar {width: 480px;}
        #menubar1 {width: 480px;}
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
        #spoorthy1 {width: 256px;left:240px;}
        #menubar {width: 1024px;}
        #menubar1 {width: 1024px;}
}

 #spoorthy2{
        position:absolute;
	font-family:"Arial";
        font-weight: italics;
	font-size:20px;
        color : black;
        top: 190px;
       left: 410px;
       width: 450px;
      }

#spoorthy3{
        position:absolute;
	font-family:"Goudy Old Style";
        font-weight: italics;
	font-size:18px;
        color : black;
        top: 250px;
       left: 350px;
  width: 450px;
      }
#spoorthy4{
        position:absolute;
	font-family:"Goudy Old Style";
        font-weight: italics;
	font-size:18px;
        color : black;
        top: 350px;
       left: 350px;
       width: 450px;
      }

