body
{ 
background:#FFF; 
}
.clearfix:after {
    display:block;
    clear:both;
}
/* main menu bar */


#menubar
{
	position:absolute;
	margin:0px;
	top:0px;
        left:0px;
	width:1360px;
	height:55px;
        z-index: 100; 
        background:#000000;       
}


#menubar1
{
	position:absolute;
	margin:0px;
	top: 52px;
        left:0px;
	width:1360px;
	height:6px;
        z-index: 100; 
        background:#FF0000;       
}

#navMenu ul
{
	
	margin:0px;
	padding:0px;
	line-height:55px;
        
}
#navMenu li
{
	margin:0px;
	/*padding:0;*/
        list-style:none;
	float:left;
	position:relative;
	background:#000000;
	left:700px;
}

#navMenu ul li a
{
	text-align:center;
	font-family:"arial narrow";
	text-decoration:none;
        font-size:23px;
        height:35px;
	width:265px;
       	/*display:block;*/
        /*display:inline;*/
	color:#fff;
	/*border:1px solid #FFF;
	text-shadow:1px 1px 1px #000;*/

}
#navMenu ul li 
{
	text-align:center;
	font-family:"Comic sans MS",cursive;
	text-decoration:none;
        font-size:20px; 
	height:55px;
	width:auto;
       	display:block;
        /*display:inline;*/
	color:#000;
	border:0px solid #FFF;
	text-shadow:1px 1px 1px #000;

}
#navMenu ul ul 
{
        position:absolute;
        visibility:hidden;
	top:40px;
        z-index:100;
        
}

#navMenu ul li:hover ul 
{
	visibility:visible;
}
#navMenu ul li:hover ul ul
{
	visibility:hidden;
}

#navMenu ul li:hover ul li:hover ul
{
	visibility:visible;
}


#navMenu ul li:hover ul li a:hover
{
	/*background:#8FF;*/
        background:#000;
	color:#000;
-webkit-transition: color 0.2s ease-out;
 -moz-transition: color 0.2s ease-out;
 -o-transition: color 0.2s ease-out;
 -ms-transition: color 0.2s ease-out;
 transition: color 0.2s ease-out;
}
#navMenu a:hover
{
	color:#f00;
}

#split {
    height: 800px;
    width:200px;
    position: absolute;
    top: 55px;
    left: 0;
    background-color: #f00;
    z-index: 100;	
}


.splitimg {
    position: absolute;
    top: 170px;
    left: 100px;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    width: 152px;
    height:137px;
    z-index: 100;
}

.mainimg{
    position: absolute;
    top: 100px;
    left: 950px;
    width: 228px;
    height:200px;
border-radius:25%;
}


	/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 700px) {
        #mainmenu {width:700px;}
	#mainmenu1 {width:700px;}
	#navMenu li {left:400px;}
	#split {width:180px;}
	.splitimg {left:85px;}
	#split {height:2000px;}
	body {
        width: 700px;
	height:320px;	
		background-color: lightblue;
    }
}
/* Smartphones (portrait and landscape) ----------- */
@media screen and (min-device-width : 320px) and (max-device-width : 700px) and (orientation: landscape) {
     #mainmenu {width:700px;}
	#mainmenu1 {width:700px;}
	#navMenu li {left:400px;}
	#split {width:180px;}
	.splitimg {left:85px;}
	#split {height:700px;}
	body {
        width: 700px;
	height:320px;	
		background-color: green;
    }

	/* Smartphones (portrait and landscape) ----------- */
@media (min-width : 320px) and (max-width : 700px) and (orientation: portrait) {
     #mainmenu {width:700px;}
	#mainmenu1 {width:700px;}
	#navMenu li {left:400px;}
	#split {width:180px;}
	.splitimg {left:85px;}
	#split {height:700px;}
	body {
        width: 700px;
	height:320px;	
		background-color: black;
    }
	
/* Smartphones (portrait and landscape) ----------- */	
@media (min-width:480px){
	 #mainmenu {width:700px;}
	#mainmenu1 {width:700px;}
	#navMenu li {left:400px;}
	#split {width:180px;}
	.splitimg {left:85px;}
	#split {height:700px;}
	body {
        width: 700px;
	height:320px;
		background-color: yellow;
	}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) 
{
        #mainmenu {width:1024px;}
	#mainmenu1 {width:1024px;}
	#navMenu li {left:100px;}
	#split {width:180px;}
	.splitimg {left:85px;}
	#split {height:1024px;}
	body {
        width: 1024px;
	height:768px;	
		background-color: red;
    }
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width : 768px)and (max-device-width : 1024px) and (orientation : landscape){ 
	 #mainmenu {width:1024px;}
	#mainmenu1 {width:1024px;}
	#navMenu li {left:100px;}
	#split {width:180px;}
	.splitimg {left:85px;}
	#split {height:1024px;}
	body{
		background-color: purple;
	}			
}

/*iPad in portrait -----*/
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
	 body {
         #mainmenu {width:1024px;}
	#mainmenu1 {width:1024px;}
	#navMenu li {left:100px;}
	#split {width:180px;}
	.splitimg {left:85px;}
	#split {height:1024px;}
		 background-color: grey;
    }
}
	
/* Desktops and laptops ----------- */
@media only screen and (min-width :300px) and (max-device-width : 1600px) {
        #mainmenu {width:1800px;}
	#mainmenu1 {width:1800px;}
	#navMenu li {left:400px;}
	#split {width:180px;}
	.splitimg {left:85px;}
	#split {height:700px;}
      body{
	      background-color: orange;
	}
}

